In [1]:
import random

In [2]:
mylist=[]
for i in 'anxiety':
    mylist.append(i)
mylist

['a', 'n', 'x', 'i', 'e', 't', 'y']

In [3]:
[i for i in 'anxiety']

['a', 'n', 'x', 'i', 'e', 't', 'y']

In [4]:
[i*2 for i in {3, 1, 2}]

[2, 4, 6]

In [5]:
newNumbers = []
nums =  [1, 30, 50, 70]
nums2 = [1, 3, 5, 7]
newNumbers = [number for number in nums if number not in nums2]
newNumbers

[30, 50, 70]

**get values within a range**

In [6]:
under_10 = [x for x in range(10)]
print('under_10: ' + str(under_10))

under_10: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**get squared values**

In [7]:
squares = [x**2 for x in under_10]
print('squares: ' + str(squares))

squares: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**get odd numbers using mod**

In [8]:
odds =  [x for x in range(10) if x%2 == 1]
print('odds: ' + str(odds))

odds: [1, 3, 5, 7, 9]

**get multiples of 10**

In [9]:
ten_x = [x * 10 for x in range(10)]
print('ten_x: ' + str(ten_x))

ten_x: [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

**get all numbers from a string**

In [10]:
s = 'I love 2 go t0 the store 7 times a w3ek.'
nums = [x for x in s if x.isnumeric()]
print('nums: ' + ''.join(nums))

nums: 2073

**get index of a list item**

In [11]:
names = ['Cosmo', 'Pedro', 'Anu', 'Ray']
idx = [k for k, v in enumerate(names) if v == 'Anu']
print('index = ' + str(idx[0]))

index = 2

In [13]:
idx[0]

2

**delete an item from a list**

In [14]:
[x for x in 'ABCDEF']

['A', 'B', 'C', 'D', 'E', 'F']

In [15]:
letters = [x for x in 'ABCDEF']
random.shuffle(letters)
letrs = [a for a in letters if a != 'C']
print(letters, letrs)

['B', 'C', 'D', 'A', 'E', 'F'] ['B', 'D', 'A', 'E', 'F']

**if-else condition in a comprehension**  
must come before iteration.

In [16]:
["Even" if i%2==0 else "Odd" for i in range(8)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [17]:
nums = [5, 3, 10, 18, 6, 7]
new_list = [x if x%2 == 0 else 10*x for x in nums]
print('new list: ' + str(new_list))

new list: [50, 30, 10, 18, 6, 70]

In [18]:
[i for i in range(8) if i%2!=0]

[1, 3, 5, 7]

**nested loop iteration for 2D list**  
b is the subsets, x is the values.

In [19]:
a = [[1, 2], [3, 4]]
new_list = [x for b in a for x in b]
print(new_list)

[1, 2, 3, 4]

In [20]:
[[i*j for j in range(1, 11)] for i in range(7, 9)]

[[7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]]

**Nested Conditionals**

In [22]:
[i for i in range(13) if i%2==0 if i%3==0]

[0, 6, 12]