## Types of numbers

Python has various "types" of numbers (numeric literals). We'll mainly focus on integers and floating point numbers.

<table>
<tr>
    <th>Examples</th> 
    <th>Number "Type"</th>
</tr>

<tr>
    <td>1,2,-5,1000</td>
    <td>Integers</td> 
</tr>

<tr>
    <td>1.2,-0.5,2e2,3E2</td> 
    <td>Floating-point numbers</td> 
</tr>
 </table>

### Basic Arithmetic

In [1]:
# Addition
2+1

3

In [2]:
# Subtraction
2-1

1

In [3]:
# Multiplication
2*2

4

In [4]:
# Division
3/2

1.5

In [ ]:
3 = 1(2) + 1

In [5]:
# Floor Division
7//4

1

In [6]:
# Modulo
7%4

3

### Arithmetic continued

In [7]:
# Powers
2**3

8

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [10]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

## Variable Assignments

In [12]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [13]:
# Adding the objects
a+a

10

In [14]:
print(a)

5

In [47]:
# Reassignment
a = 11

In [48]:
type(a)

int

In [16]:
# Check
a

11

In [17]:
a + a

22

In [18]:
a

11

In [19]:
# Use A to redefine A
a = a + a

In [20]:
# Check 
a

22

In [27]:
str = 10

In [28]:
str

10

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [29]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [30]:
# Show my taxes!
my_taxes

10.0

# bool
A Boolean value can be True or False.

In [33]:
b = False

In [34]:
b

False

In [35]:
2>1

True

In [36]:
a = 2>1
type(a)

bool

**Python Operator Precedence**

* Parentheses
* Exponentiation
* Multiplication
* Division
* Addition
* Subtraction

In [37]:
((((13+5)*2)-4)/2)-13

3.0

In [49]:
a = 12.2

In [50]:
type(a)

float

In [39]:
a

12.2

In [40]:
-a

-12.2

In [45]:
a=-a

In [46]:
a

-12.2

### Integer in Python

* Integer (int) data type only holds integer numbers, it could be positive or negative.
* We can’t save decimal numbers in integer data type.

### Float in Python

* Float data types are used to hold decimal numerical values i.e. 2.13, 3.14 etc.
* We can also save whole numbers in float data types.

### String in Python

* A string is used to save one or more characters and it’s the most commonly used data type.