# Python Comment

In [4]:
#This is a comment

In [5]:
#Line 1 of comment
#Line 2 of comment
#Line 3 of comment

In [7]:
print("""This comment
is spanned across
multiple lines""")

This comment
is spanned across
multiple lines

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [8]:
# Single word
'hello'

'hello'

In [9]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [10]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [11]:
# Be careful with quotes!
' I'm using single quotes, but this will create an error'

SyntaxError: invalid syntax (Temp/ipykernel_9304/2053197537.py, line 2)

In [12]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

In [14]:
type("Dogs are love")

str

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [15]:
# We can simply declare a string
'Hello World'

'Hello World'

In [17]:
1

1

In [16]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [20]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?', '\n', '\n')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [21]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [22]:
# Assign s as a string
s = 'Hello World'

In [23]:
#Check
s

'Hello World'

In [24]:
# Print the object
print(s)

Hello World

In [25]:
# Show first element (in this case a letter)
s[0]

'H'

In [26]:
s[1]

'e'

In [27]:
s[2]

'l'

In [28]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [29]:
# Note that there is no change to the original s
s

'Hello World'

In [30]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [31]:
#Everything
s[:]

'Hello World'

In [32]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [34]:
# Last letter (one index behind 0 so it loops back around)
s[-2:]

'ld'

In [35]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
#[start : end+1 : step]

In [36]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [37]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [38]:
s[::2]

'HloWrd'

In [39]:
s[1:5:2]

'el'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [40]:
s

'Hello World'

In [41]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

In [42]:
s

'Hello World'

In [46]:
s+ ' - ' +s

'Hello World - Hello World'

In [43]:
# Concatenate strings!
s + ' concatenate me!'

'Hello World concatenate me!'

In [47]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [48]:
print(s)

Hello World concatenate me!

In [49]:
s

'Hello World concatenate me!'

In [50]:
letter = 'zz'

In [53]:
letter*10

'zzzzzzzzzzzzzzzzzzzz'

In [55]:
print('-'*90)

------------------------------------------------------------------------------------------

# Comparison Operation

In [56]:
'hey'<'hi'

True

In [57]:
a = 'Data-Hub'
a == 'Data-Hub'

True

In [59]:
'Free' != 'Data-Hub'

False

# Membership Operation

In [60]:
'Hub' in 'Data-Hub'

True

In [62]:
'Big data' not in 'Data-Hub'

False

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object  that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

In [63]:
s

'Hello World concatenate me!'

In [64]:
# Upper Case a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [65]:
# Lower case
s.lower()

'hello world concatenate me!'

In [66]:
# Split a string by blank space (this is the default)
s.split(' ')

['Hello', 'World', 'concatenate', 'me!']

In [67]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

In [68]:
'this is beau'.split()

['this', 'is', 'beau']

In [71]:
" ".join(['God', 'Good', 'Google'])

'God Good Google'

In [72]:
'Mohammad '.strip()

'Mohammad'

In [73]:
' Mohammad '.strip()

'Mohammad'

In [76]:
'  محمد  محمد'.strip()

'محمد  محمد'

In [77]:
a = '61'
a.isdigit()

True

In [78]:
'aa'.isdigit()

False

In [79]:
a = 'abc'
a.isalpha()

True

In [80]:
'!'.isalpha()

False

In [81]:
a = '   '
a.isspace()

True

In [82]:
a = 'Fereshte'
a.startswith('Fer')

True

In [83]:
a = 'Mohammad'
a.endswith('ad')

True

In [84]:
'Love each ...'.find('Love')

0

In [85]:
'Love each ...'.find('hate')

-1

In [86]:
'God'.replace('d', 't')

'Got'

In [87]:
'Bus'.replace('Bu', 'A')

'As'

# Escape Sequences in Python

* \n – linefeed
* \t – tab

In [88]:
print("hell\nto")

hell
to

In [89]:
print("hell\tto")

hell	to

In [90]:
print("hell \\ guys")

hell \ guys

In [91]:
print("hell \' guys")

hell ' guys

In [93]:
print("hell \" guys")

hell " guys